.body{
    background-color: rgba(179, 150, 203, 0.855);
    margin-left: 100px;
    margin-right: 100px;
}

#java{
    float: right;
}

p{
    color: blue;
}

#ja{
    float: right;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

#list{
    color:blue;
}